
/* Affects all of the page */
html { 
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    text-align: center;
}

/* All elements above banner with my picture */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }

h1 {
    font-size: 300%;
  }

h2 {
    font-size: 225%;
}

ul {
  list-style: none;
}
  
nav ul {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    min-width: 300px;
  }
  
nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }
  
/* Space with my my picture */
.header-bottom {
    display: flex;
    align-items: flex-start;
    background-image: url(/assets/images/stockvault-abstract-colorful-aurora-background151485.jpg);
    height: 200px; /* You must set a specified height */
    width: 100%;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.header-bottom img {
    width: 200px;
}

/* This is the writing next to my picture */
.header-bottom p {
    position: flex;
    align-self: center;
    left: 1250px;
    top: 50px;
    text-align: justify;
    background-color: red;
    color: white;
    padding: 20px 40px;
    height: 10%;

}

/* About Me Section */
.direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

/* Work Section */
.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --num-rows: 2;
    --row-height: 200px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 0.5fr);
    grid-auto-rows: auto;
    gap: var(--gap);


}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-1 {
    grid-column:  2 / 4;
    grid-row: 1 / 3;
    border: 2px solid blue;
}

.image-2 {
    grid-column: 2;
    border: 2px solid blue;
}

.image-3 {
    grid-column: 3;
    border: 2px solid blue;
}

.image-4 {
    grid-row: 4;
    grid-column: 2;
    border: 2px solid blue;
}

.image-5 {
    grid-row: 4;
    grid-column: 3;
    border: 2px solid blue;
}

.image-1:hover,
.image-2:hover,
.image-3:hover,
.image-4:hover,
.image-5:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

/* Footer Sections  */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }

footer nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer nav ul li {
    display: inline;
    padding: 20px;
}

/* Responsive Elements */

@media screen and (min-width: 375px) { 
    header {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        align-content: center;
        justify-content: space-between;
        min-width: 325px;
        padding: 0%;
      }

      .header-bottom p {
        text-align: center;
        padding: 10px;
}